@model IEnumerable<PowerSystemMonitoring.Web.ViewModels.WeatherStation.WeatherStationViewModel>

    <div>
        <h1>All weather station</h1>

        <a type="button" class="btn btn-success" asp-controller="WeatherStations" asp-action="Create">Create weather station</a>
    </div>
    <br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Is active</th>
            <th scope="col">Name</th>
            <th scope="col">Temperature</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var station in Model)
        {
        <tr>
            <td>
                @if (station.IsActive)
                {
                    <i class="fas fa-check-circle"></i>
                }
                else
                {
                    <i class="far fa-circle"></i>
                }
            </td>
            <td>@station.Name</td>
            <td>@station.Temperature  <i class="fas fa-temperature-low"></i> C </td>
            <td>  <a type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@station.Id">Edit</a></td>
            <td>  <a type="button" class="btn btn-success" asp-action="GetById" asp-route-id="@station.Id">Details</a></td>
            <td>  <a type="button" class="btn btn-success" asp-action="Delete" asp-route-id="@station.Id">Delete</a></td>
        </tr>
        }
    </tbody>
</table>
