@model IEnumerable<PowerSystemMonitoring.Web.ViewModels.PoweLine.PowerLineViewModel>
@using PowerSystemMonitoring.Common
@{
    this.ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>

    <div class="row ">
     
        @foreach (var powerLine in Model)
        {
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    @if (powerLine.ImageUrl != null)
                    {
                        <img class="card-img-top " src="@powerLine.ImageUrl" alt="Card image cap">
                    }
                    else
                    {
                        <div>
                            <img src="~/images/common/No_Image.jpg"  />
                        </div>
                    }
                    <div class="card-body">
                        <h5 class="card-title">@powerLine.Name</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Voltage: @powerLine.Voltage kV</li>
                        <li class="list-group-item">Length: @powerLine.Length km</li>
                    </ul>
                    <div class="card-body">
                        <a href="/PowerLines/GetById/?id=@powerLine.Id" class=" btn btn-primary">View PoweLine</a>
                    </div>
                </div>
            </div>
        }
    </div>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


