@model IEnumerable<PowerSystemMonitoring.Web.ViewModels.CurrentSensor.CurrentSensorViewModel>
@using PowerSystemMonitoring.Common
@{
    this.ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="row ">
        @foreach (var sensor in Model)
        {
            <div class="col-md-3">
                <div class="card" >
                    @if (sensor.ImageUrl != null)
                    {
                        <img class="card-img-top img-responsive rounded-sm" style="display:inline-block" src="@sensor.ImageUrl" alt="Card image cap">
                    }
                    else
                    {
                        <div>
                            <img src="~/images/common/No_Image.jpg " style="display:inline-block" class="card-img-top img-responsive" />
                        </div>
                    }
                    <div class="card-body">
                        <h5 class="card-title">@sensor.Name</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Instalation on @sensor.PowerLineName</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li id="@("curr" + sensor.Id)" class="list-group-item"> - </li>
                        <li id="@("temp" + sensor.Id)" class="list-group-item"> - </li>
                    </ul>
                    <div class="card-body">
                        <a href="/CurrentSensors/GetById/?id=@sensor.Id" class=" btn btn-primary">View current sensor</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts{
    <script>
        var connection =
            new signalR.HubConnectionBuilder()
                .withUrl("/sensors")
                .build();

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        connection.on("NewMessage", // ot huba
            function (model) {
                document.getElementById("curr".concat(model.currentSensorId)).innerHTML = "Current: ".concat(model.current);
                document.getElementById("temp".concat(model.currentSensorId)).innerHTML = "Temperature: ".concat(model.temperature);
            });
    </script>
}
