@model IEnumerable<PowerSystemMonitoring.Web.ViewModels.CurrentSensor.CurrentSensorViewModel>
@using PowerSystemMonitoring.Common
<div>
    <h1>All current sensors</h1>

</div>
<br />
<table class="table">
    <thead>
        <tr>

            <th scope="col">IsActive</th>
            <th scope="col">Name</th>
            <th scope="col">Power line</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sensor in Model)
        {
            <tr>
                <td>
                    @if (sensor.IsActive)
                    {
                        <i class="fas fa-check-circle"></i>
                    }
                    else
                    {
                        <i class="far fa-circle"></i>
                    }
                </td>
                <td>@sensor.Name</td>
                <td>@sensor.PowerLineName</td>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <td>  <a type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@sensor.Id">Edit</a></td>

                    <td>  <a type="button" class="btn btn-success" asp-action="Delete" asp-route-id="@sensor.Id">Delete</a></td>
                }
                <td>  <a type="button" class="btn btn-success" asp-action="GetById" asp-route-id="@sensor.Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>
