@model IEnumerable<PowerSystemMonitoring.Web.ViewModels.Condutor.ConductorViewModel>

<h1>All Conductors</h1>
<table class="table">
    <thead>
        <tr>
            
            <th scope="col">Name</th>
            <th scope="col">AddedBy</th>
            <th scope="col">IsActive</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var conductor in Model)
        {
            <tr>               
                <td>@conductor.Name</td>
                <td>@conductor.AddedByUserUsername</td>
                <td>@conductor.IsActive</td>
                <td>  <input  asp-action="GetById" asp-route-id="@conductor.Id" />Details</td>
                <td>  <a type="button" class="btn btn-success" asp-action="GetById" asp-route-id="@conductor.Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>
