@model IEnumerable<PowerSystemMonitoring.Web.ViewModels.Condutor.ConductorViewModel>

<div>
    <h1>All Conductors</h1>

    <a type="button" class="btn btn-success" asp-controller="Conductors" asp-action="Create">Create conductor</a>
</div>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Current</th>
            <th scope="col">Max current</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var conductor in Model)
        {
            <tr>
                <td>@conductor.Name</td>
                <td>@conductor.Current</td>
                <td>@conductor.MaxCurrent</td>
                <td>  <a type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@conductor.Id">Edit</a></td>
                <td>  <a type="button" class="btn btn-success" asp-action="Delete" asp-route-id="@conductor.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
